* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #131212;
  gap: 25px;
}
.winnerCell {
  background-color: #ffe066 !important;
  border-color: #ffb703 !important;
  box-shadow: 0 0 15px #ffb703;
  transform: scale(1.1);
}

.winningText{
    color: #ffe066 !important;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: #edd21c !important;
}

.boardContainer {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.cell {
  height: 100px;
  width: 100px;
  background: white;
  border-radius: 12px;
  border: 3px solid #222;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.disabled {
  /* height: 100px;
  width: 100px; */
  background: rgb(2, 2, 2)
  /* border-radius: 12px;
  border: 3px solid #222;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  cursor: pointer; */
}

.cell:hover {
  background: #e6e6e6;
  transform: scale(1.05);
}

.resetBtn {
  padding: 10px 25px;
  font-size: 18px;
  border: none;
  background: #e70606;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.resetBtn:hover {
  background: #f50000;
}

.cell.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.winningText {
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}